<div class="container">
	<div class="form-group">
		<label for="name">Name</label>
		{{input value=name class="form-control"}}
	</div>
	<div class="form-group">
		<label for="year">Year</label>
		{{input value=year class="form-control"}}
	</div>
	<div class="form-group">
		<label for="runtime">Runtime</label>
		{{input value=runtime class="form-control"}}
	</div>
	<div class="form-group">
		<label for="director">Director</label>
		<!-- {{input value=director class="form-control"}} -->
		<select class="form-control director-select" name="director">
			<option value=""></option>
			{{#each movies as |movie| }}
			  <option value="{{movie.director.id}}">{{movie.director.name}}</option>
			{{/each}}
		</select>
	</div>
	<div class="form-group">
		<label for="director">Writer</label>
		<!-- {{input value=writer class="form-control"}} -->
		<select class="form-control writer-select" name="writer">
			<option value=""></option>
			{{#each movies as |movie| }}
			  <option value="{{movie.writer.id}}">{{movie.writer.name}}</option>
			{{/each}}
		</select>
	</div>
	<button class="btn primary-btn" {{ action 'save' }}>Save</button>
</div>
