<div class="col-md-12">
	<div class="row">
		<div class="col-md-2 pull-right">
			<i class="fa fa-sort" {{action 'nameOrder'}} aria-hidden="true">Name</i>
			<i class="fa fa-sort" {{action 'dateOrder'}} aria-hidden="true">Year</i>
		</div>
		<div class="col-md-10">
			<div class="form-group">
				{{input type="text" class="form-control" enter="search" value=value}}
			</div>
		</div>
	</div>
</div>
{{#each movies as |movie|}}
{{#if (eq movie.id formOpen)}}
	<div class="edit-form">
		<div class="form-group">
			<label for="name">Name</label>
			{{input value=name class="form-control"}}
		</div>
		<div class="form-group">
			<label for="year">Year</label>
			{{input value=year class="form-control"}}
		</div>
		<div class="form-group">
			<label for="runtime">Runtime</label>
			{{input value=runtime class="form-control"}}
		</div>
		<div class="form-group">
			<label for="director">Director</label>
			{{input value=director.name class="form-control"}}
		</div>
		<div class="form-group">
			<label for="director">Writer</label>
			{{input value=writer.name class="form-control"}}
		</div>
		<button class="btn primary-btn" {{ action 'saveForm' movie}}>Save</button>
		<button class="btn danger-btn" {{ action 'cancelForm' }}>Cancel</button>
	</div>
{{else}}

{{/if}}
<div class="col-md-12">
	<p>
		<input type="checkbox" name="status[]" checked={{movie.status}} id={{movie.id}} onclick={{action "movieCheck"}}>
		{{#link-to 'movies.detail' movie}}{{movie.name}}{{/link-to}}
		<i {{action "editMovie" movie.name movie.year movie.runtime movie.director movie.writer movie.id}} class="fa fa-pencil-square-o" aria-hidden="true"></i>
		<i class="fa fa-times" aria-hidden="true" {{action "deleteMovie" movie.id}}></i>
	</p>
</div>

{{/each}}
